/TomatoDataset
/TomatoBinaryDataset
/DL/ResNet/Base/best_model_binary_resnet50.keras
/DL/ResNet/Base/resnet50_binary_final.keras
/DL/ResNet/Base/training_report_resnet50.txt
/DL/ResNet/Opt/best_model_binary_resnet50.keras
/DL/ResNet/Opt/resnet50_binary_final.keras
/DL/ResNet/Opt/training_report_resnet50_journal_friendly.txt
/DL/MobileNetV3/Base/best_model_binary_mobilenetv3.keras
/DL/MobileNetV3/Base/mobilenet_v3_binary_final.keras
/DL/MobileNetV3/Base/training_report_journal_friendly.txt
/DL/MobileNetV3/Opt/best_model_binary_mobilenetv3.keras
/DL/MobileNetV3/Opt/mobilenet_v3_binary_final.keras
/DL/MobileNetV3/Opt/training_report_journal_friendly.txt
/DL/EfficientNet/Base/training_report_journal_friendly.txt
/DL/EfficientNet/Base/best_model_binary_efficientnetb0.keras
/DL/EfficientNet/Base/efficientnetb0_binary_final.keras
/DL/EfficientNet/Opt/training_report_journal_friendly.txt
/DL/EfficientNet/Opt/best_model_binary_efficientnetv3.keras
/DL/EfficientNet/Opt/efficientnetb0_binary_final.keras
/ML/RandomForest/Base/lbp_random_forest_base_outputs/lbp_random_forest_base_model.joblib
/ML/LogisticRegression/Base/hsv_logistic_regression_base_outputs/hsv_logistic_regression_base_model.joblib
/ML/HOG/Base/hog_svm_base_outputs/hog_svm_base_model.joblib
/ML/DecissionTree/
ML/HOG/Opt/hog_svm_opt_outputs/hog_svm_opt_model.joblib
ML/LogisticRegression/Opt/hsv_logistic_regression_opt_outputs/hsv_logistic_regression_opt_model.joblib
ML/docs
docs